<div *ngIf="store.selectedApartment" class="wrapper">
  <mat-card class="apartment-details">
    <mat-card-header>
      <mat-card-title>{{
        store.selectedApartment.name | uppercase
      }}</mat-card-title>
      <mat-card-subtitle
        >Price per night:
        <strong>{{ store.selectedApartment.price }}$</strong></mat-card-subtitle
      >
    </mat-card-header>
    <img
      mat-card-image
      [src]="store.selectedApartment.pictureURL"
      [alt]="store.selectedApartment.name"
    />
    <mat-card-content>
      <p>Type: {{ store.selectedApartment.type }}</p>
      <p>Number of rooms: {{ store.selectedApartment.rooms }}</p>
      <ul>
        Amenities:
        <li *ngFor="let amenity of store.selectedApartment.amenities">
          {{ amenity }}
        </li>
      </ul>
    </mat-card-content>
    <button
      mat-raised-button
      type="button"
      color="warn"
      routerLink=""
      (click)="onDelete(store.selectedApartment._id)"
    >
      Delete apartment
    </button>
  </mat-card>
</div>
